.login{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color:black;
    color: white;
    
}
/* .login-logo img{
    width: 300px;
    height: 300px;
    
} */
.login-right{
    background-color: #29292e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;
}
.login-right h1{
    
    font-family: 'Roboto Slab'; 
    font-size: 50px; 
    align-items: center;
    color:#03A66A;
   
}
.login-right h4{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    color:#03A66A;
   
}
.login-loginInputEmail{
    display: flex;
    align-items: center;
    color: gray;
    background-color:#1a1a1d;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height:50px;
    
}
.login-loginInputEmail svg{
    margin-left: 10px;
    font-size: 25px;
}

.login-loginInputEmail input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.login-loginInputPassword{
    display: flex;
    align-items: center;
    color: gray;
    background-color:#1a1a1d;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    width: 98%;
    height:50px;

}
.login-loginInputPassword svg{
    margin-left: 10px;
    font-size: 25px;
}
.login-loginInputPassword input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.login-right button{
    width: 98%;
    background-color: #121214;
    color: #03A66A;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border:none;

    outline-width: 0;
}

.login-right button:hover{
    background-color: #03A66A;
    color:white;
    cursor:pointer;
}
