.container-column-create{
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}

.add-column-button{
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    border:white 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-column-button span{
    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */
    color: #404741;
}

.add-column-button span:hover{
    color: #177359;
}

.add-column-button:hover{
    border-color: #03a66a 1px solid;
}

.add-column-button:active{
    background-color: #bdbdbd;
}

.white-container-columns{
    background-color: rgba(233, 233, 233, 0.193);
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 5px 0px;
}

.create-column-container{
    width: 700px;
    min-width: 700px;
    /* width: 70%; */
    background-color: #177359;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 25px 0px; */
}

.container-remove-columns{
    display: flex;
    
}