.red-cancel-button{
    margin: 10px;
    border:0;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: whitesmoke;
    background-color: #b91818;
}
.red-cancel-button:hover{
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: whitesmoke;
    background-color: #770f0f;
    cursor: pointer;
}