html {
    height: 100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.buttons-container{
    display: flex;
    justify-content: end;
}

.button{
    background-color: white;
    display: inline-flex;
    border: white solid 2px;
    align-items: center;
    font-size: 18;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(000, 000, 000, 0.4);   
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    
}


.button:hover{
    border: royalblue solid 2px;
}

.filter-button{
    color: black;
}

.add-button{
    color: #177359;
}

.body-container{
    margin: 5px;
    border: rgba(000, 000, 000, 0.2)  solid 2px;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center;*/ 
}

.styled-table{
    width: 95%;
    border-collapse: collapse;
    margin: 15px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #03A66A;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    border: #cecccc solid 1px;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
