.input-text-container label{
    color: white;
    font-size: 14;
    width: 120px; 
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.input-text-container input{
    border-radius: 2px;
    border: solid white 1px;
    font-size: 14;
    width: 250px;
}

.input-text-container input:focus{
    outline: none;
}

/*ERROR PART*/
.input-text-container-error label{
    color: #B91818;
    font-size: 14;
    width: 120px; 
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.input-text-container-error input{
    border-radius: 2px;
    border: solid #B91818 1px;
    font-size: 14;
    width: 250px;
}

.input-text-container-error input:focus{
    outline: none;
}

.input-text-container-message-error{
    margin: 5px;
    text-align: center;
    font-size: 12px;
    color: rgb(17, 17, 17);
    font-weight: bold;
}

/*DELET PART*/
.input-text-container input:disabled{
    background-color: #a30f0f;
    color: white;
    outline: none;
}